@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  --hue-color: 250;

  /* HSL color */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-lighter: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --button-color: hsl(var(--hue-color), 69%, 61%);
  --button-text-color: #fff;
  --icon-color: hsl(var(--hue-color), 69%, 61%);
  --container-color: hsl(var(--hue-color), 69%, 61%);
  --hover-color: hsl(var(--hue-color), 69%, 61%);
  --pagination-active-color: hsl(var(--hue-color), 69%, 61%);
  --pagination-color: hsl(var(--hue-color), 8%, 45%);

  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margenes Bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* Font size for larger devices */
  @media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
}
/* dark theme */
body.dark-theme {
  --first-color: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 28%, 12%);
  --button-color: hsl(var(--hue-color), 69%, 61%);
  --icon-color: #fff;
  --button-text-color: #fff;
  --hover-color: hsl(var(--hue-color), 69%, 61%);
  --pagination-active-color: hsl(var(--hue-color), 69%, 61%);
  --pagination-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* resuable css */

.section {
  padding: 2rem 0 4rem;
}

.sectionTitle {
  font-size: var(--h1-font-size);
}
.sectionSubtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-top: var(--mb-0-25);
}

.sectionTitle,
.sectionSubtitle {
  text-align: center;
}

/* Layout */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-top: var(--mb-2);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.iconColor {
  color: var(--icon-color);
}

/* //////////////////////////////////////////NAV/////////////////////////////// */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBtns {
  display: flex;
}
.navBtn {
  padding-left: 1.5rem;
}

.change-theme,
.navToggle,
.navLogo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.change-theme,
.navToggle {
  font-size: 1.1rem;
  cursor: pointer;
}
.navLogo:hover,
.change-theme:hover,
.navToggle:hover {
  color: var(--hover-color);
}

@media screen and (max-width: 767px) {
  .navMenu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.navList {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.navLink:hover {
  color: var(--hover-color);
}
.navIcon {
  font-size: 1.5rem;
}
.navClose {
  position: absolute;
  right: 1.3rem;
  bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
}
.navClose:hover {
  color: var(--title-color);
}

.showMenu {
  bottom: 0;
}

/*////////////////////////////////// Main ////////////////////////////////////// */
.avatar {
  border: none;
  width: 16rem;
  height: auto;
  border-radius: 50%;
}

/* ///////////////////////////////////Home///////////////////////////////// */
.homeContainer {
  gap: 1rem;
}
.homeContent {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.homeSocial {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: max-content;
}

.homeSocialIcon {
  font-size: 1.25rem;
  color: var(--first-color);
}
.homeSocialIcon:hover {
  color: var(--first-color-alt);
}

.homeData {
  grid-column: 1/3;
}

.homeTitle {
  font-size: var(--big-font-size);
}
.homeSubTitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
}
.homeDesc {
  margin-bottom: var(--mb-3);
}

/* Buttons */
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  height: 3rem;
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: var(--first-color-alt);
}
.buttonIcon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}
.button-flex {
  display: inline-flex;
  align-items: center;
}

/*////////////////////////////// About //////////////////////////////// */
.aboutContainer {
  margin-top: var(--mb-0-5);
  text-align: center;
}

.aboutBtn {
  margin-top: var(--mb-1-5);
}

/* //////////////////////////// Skills /////////////////////////// */
.skillsContainer {
  row-gap: 0;
}
.skillsHeader {
  display: flex;
  align-items: center;
  margin: var(--mb-1) 0;
  cursor: pointer;
}

.skillsBox {
  display: flex;
  align-items: center;
}

.skillsIcon,
.skillsArrow {
  font-size: 1.5rem;
}
.skillsIcon {
  margin-right: var(--mb-0-75);
}

.skillsTitle {
  font-size: var(--h3-font-size);
  display: flex;
  align-items: center;
}
.skillsName {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
.skillsClose .skillsList {
  height: 0;
  overflow: hidden;
}

.skillsOpen .skillsList {
  height: max-content;
}

.skillsOpen .skillsArrow {
  transform: rotate(-180deg);
}
/* /////////////////////////// Qualification ///////////////////////////*/
/* .qualificationContainer {
  border: solid 1px blue;
} */
/* .qualificationTabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.qualificationBtn {
  padding: 0 3rem;
  border: none;
  background: none;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.qualificationData {
  display: grid;
  width: 45%;
  position: relative;
  margin: 0 1rem;
  padding-left: 30px;
}
.qualificationData.left {
  left: 0;
}
.qualificationData.right {
  left: 50%;
}

.qualificationBtn.active {
  color: var(--button-color);
}

.qualificationContent {
  display: none;
}
.qualificationContent.active {
  display: block;
} */

/* -------------Qualification Test Section -------------- */
.qualificationTabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.qualificationBtn {
  padding: 0 3rem;
  border: none;
  background: none;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.qulificationTimeline {
  display: flex;
}
.lines {
  margin-left: 6px;
  margin-top: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  background: #cacaca;
  border-radius: 50%;
}
.line {
  height: 126px;
  width: 2px;
  background: #cacaca;
  margin-left: 4px;
}
.qualificationData {
  display: block;
  position: relative;
  line-height: 2em;
  padding: 5px 0 40px 20px;
}
.qualificationCalendar,
.qulificationSubtitle {
  font-size: 0.8rem;
}

.qualificationContent {
  display: none;
}

.qualificationBtn.active {
  color: var(--button-color);
}

.qualificationContent.active {
  display: block;
}

/* ////////////////////////////Portfolio/////////////////////////////// */
.portfolioContainer {
  overflow: initial;
}
.portfolioContent {
  padding: 0 var(--mb-1-5);
}
.portfolioData {
  text-align: center;
}
.portfolioImgContainer {
  width: 100%;
  min-height: 400px;
}
.portfolioImg {
  width: 100%;
  min-height: 360px;
  object-fit: cover;
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
}

.protfolioBtn {
  margin-top: var(--mb-1-5);
}

.portfolioSwiperIcon {
  color: var(--text-color-lighter);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--button-color);
}
.swiper-button-prev {
  left: -0.5rem;
}
.swiper-button-next {
  right: -0.5rem;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
  color: var(--first-color);
}
.swiper-pagination-bullet-active {
  background-color: var(--pagination-active-color);
}

/*//////////////////////////////////Contact////////////////////////////////// */
.contactContainer {
  row-gap: 2rem;
}
.contactinfo {
  display: flex;
}
.contactIcon {
  font-size: 2rem;
  margin-right: var(--mb-0-75);
}

.contactTitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contactSubtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-lighter);
}

/* ///////////////////////////////////////////// Footer /////////////////////////////////// */
.footerContainer {
  row-gap: 3.5rem;
  color: #fff;
}
.footerBg {
  background-color: var(--container-color);
  padding: 2rem 0 3rem;
}
.footerTitle {
  color: var(--button-text-color);
}

.footerSubtitle {
  color: var(--button-text-color);
  font-size: var(--smaller-font-size);
}
.footerLink {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: var(--button-text-color);
  color: var(--button-text-color);
  cursor: pointer;
}
.copyright {
  font-size: var(--smaller-font-size);
  color: var(--button-text-color);
}

/* ///////////////// Media Queries /////////////////// */
@media screen and (min-width: 568px) {
  .homeContent {
    grid-template-columns: max-content 1fr 1fr;
  }
  .homeData {
    grid-column: initial;
  }
  .avatar {
    order: 1;
    justify-self: center;
  }
  .aboutContainer,
  .skillsContainer,
  .portfolioContainer {
    justify-content: center;
  }
  .qualificationSections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }

  .sectionSubtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footerContainer {
    padding: 0 1rem;
  }

  .nav {
    height: 1.5rem;
    column-gap: 1rem;
    padding-bottom: 1.5rem;
  }

  .navIcon,
  .navClose,
  .navToggle {
    display: none;
  }
  .navList {
    display: flex;
    column-gap: 2rem;
  }
  .navMenu {
    margin-left: auto;
  }
  .homeContainer {
    row-gap: 5rem;
  }
  .homeContent {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .aboutContainer {
    column-gap: 5rem;
  }
  .aboutDesc {
    text-align: initial;
  }
  .aboutInfo {
    justify-content: space-between;
  }

  .qualificationTabs {
    justify-content: center;
  }
  .qualificationBtns {
    margin: 0 var(--mb-1);
  }
  .qualificationSections {
    grid-template-columns: 0.5fr;
  }
  .portfolioImg {
    min-height: 472px;
  }
}
